<div class="modaljs-container">
  <div class="box">
    {{#if title}}
      <h1>{{title}}</h1>
    {{/if}}
    {{#if close}}
      <div class="close">x</div>
    {{/if}}
    <div class="content">
      {{content}}
    </div>
  </div>
</div>